
.aboutus{
    width: 100%;
    height: 70vh;
    background-color: #161d2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 4vw; */
/*  */
}

.aboutus .con{
background-image: url('https://template.wphix.com/dhora-prv/dhora/assets/img/breadcrumb/bg.png');
width: 23.5%;
height: 100%;
display: flex;
align-items: center;
}

.aboutus h1{
    font-size: 3.4vw;
    color: #ffffff;
    margin-left: 8vw;
    font-weight: 500;
}

.aboutus h2{
    font-size: 1.3vw;
    font-weight: 400;
    color: #ffffff;
}

.aboutus .home{
    display: flex;
    align-items: center;
    margin-right: 8vw;
    gap: 1vw;
}

.aboutus .home h2:hover{
    color: #E27614;
    cursor: pointer;
}
.aboutus .home i{
    color: #ffffff;
}

.scalatan-card{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    /* margin-top: 7vw; */
    padding-top: 18vw;
    background-color: #0f172a;
}

.slead-card{
    width: 30%;
    height: 85vh;
}

.syello-back-card{
    width: 40%;
    height: 90vh;
    margin-left: 3vw;
    z-index: 999;
    position: absolute;
    background-color: #edad2d;
    border-radius: .5vw;
    overflow: hidden;
    margin-top: -35vh;    
    transform: rotate3d(47, 107, -1, 24deg);

}

.syello-back-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sman-back{
    width: 40%;
    height: 90vh;
  margin-top: -5cw;
  transform: rotate3d(47, 107, -1, 24deg); 

}

.sman-card{
    width: 130%;
    height: 100%;
    position: relative;
     background-color: #E27614;
     transform: rotate3d(47, 107, -1, 24deg); 
    margin-top: -12vw;
}

.sright-text-button{
    width: 40%; 
    margin-left: 8vw;  
    margin-top: -25vw;
}

.sright-text-button h2{
    color: #ffffff;
    margin-bottom: 2vw;
    font-size: 1.3vw;
}
.smoment-screen{
    color: #ffffff;
    font-size: 3vw;
}

.spara{
    color: #ffffff;
    font-size: 1.1vw;
    margin-top: 2vw;
}

.sright-text-button button{
    padding: 1.5vw 3vw;
    border: 2px solid #E27614;
    background-color: transparent;
    color: #ffffff;
    margin-top: 3vw;
    border-radius: .5vw;
    font-size: 1.2vw;
}

.sright-text-button button:hover{
    
    background-color: #E27614;
    
}

.light-out{
    width: 100%;
    height: 60vh;
    background-color: #0f172a;  
    margin-top: -15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-lo{
    width: 50%;
}

.left-lo p{
    color: #ffffff;

}

.more{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.more h3{
    color: #ffffff;
    padding-top: .6vw;
}

.more i{
    padding: .1vw;
    border-radius: 1vw;
    background-color: #E27614;

}

.smole-cards{
    width: 100%;
    height: 40vh;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    background-color: #0f172a; 
    padding-bottom: 4vw; 
}    

.boxi-image{
    width: 8%;
    height: 80%;
    padding: 3vw 6vw;
    color: #ffffff;
    background-color: #1b2335;
}

.boxi-image .cam-img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.boxi-image h1{
    font-size: 4vw;
    color: #ffffff;
    margin-top: 2vw;
}

.boxi-image h4{
    font-size: .9vw;
    color: #ffffff;
    margin-top: .7vw;
}

    .three-images{
    background-image: url('https://template.wphix.com/dhora-prv/dhora/assets/img/play/bg.png');
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f172a;
}

.th-img1{
    width: 30%;
    height: 80%;
    border-radius: 3vw;
    overflow: hidden;
}

.th-img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.th-img1:hover .hidden-text{
    
    visibility: visible;

} 

.hidden-text{   
    color: #ffffff;
    margin-top: -7vw;
    margin-left: 2vw;
    visibility: hidden;
}


.hidden-text h4{   
    font-size: 1vw;
}

.hidden-text h1{   
    font-size: 1.9vw;
}

.th-img1:hover{
    opacity: 1;
    z-index: 999;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #FE9700 100%);
}

.leader-card{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-evenly; 
    background-color: #0f172a;
}

.lead-card{
    width: 25%;
    height: 75vh;
}

.yello-back-card{
    width: 25%;
    height: 70vh;
    margin-left: 3vw;
    z-index: 999;
    position: absolute;
    background-color: #edad2d;
    border-radius: .5vw;
    overflow: hidden;
    margin-top: -35vh;
}

.yello-back-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.man-back{
  margin-left: -4vw;
  margin-top: -5cw;
}

.man-card{
    width: 90%;
    height: 60%;
    position: relative;
     background-color: #ffc901;
    margin-left: 8vw;
    margin-top: -2vw;
}

.right-text-button{
    width: 42%;   
}

.moment-screen{
    color: #ffffff;
    font-size: 4vw;
}

.para{
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 2vw;
}

.right-text-button button{
    padding: 1.5vw 3vw;
    border: 2px solid #E27614;
    background-color: transparent;
    color: #ffffff;
    margin-top: 3vw;
    border-radius: .5vw;
    font-size: 1.2vw;
}

.right-text-button button:hover{
    
    background-color: #E27614;
    
}

.last-images{
    width: 100%;
    height: 40vh;
    /* padding-top: 2vw;     */
    /* margin-bottom: 5vh; */
    background-image: url("https://template.wphix.com/dhora-prv/dhora/assets/img/cta/bg.png");
    background-color: #E27614;
}

.girl{
    width: 50%;
    height: 100%;
    /* background-color: #0f172a; */
}

.girl img{
    height: 100%;
    object-fit: cover;
}

.get{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
/* left: 10vw; */
margin-top: -11vw;
}

.get .phone{
    display: flex;
    align-items: center;
    gap: 2vw;
    }

.get .phone i{
    padding: 1.2vw;
    background-color: #e2a814;
    border-radius: 5vw;
    font-size: 3vw;
    color: #000000;
    margin-left: 15vw;
}

.get .phone h1{
    color: #ffffff;
}

.get .contectus button{
    padding: 1.5vw 3vw;
    border: transparent;
    font-size: 1.22vw;
    font-weight: 600;
    letter-spacing: .21vw;
    background-color: #e2a814;
    border-radius: .41vw;
}

.get .contectus button:hover{
    border: 2px solid #E27614;
    background-color: transparent;
    color: #ffffff;
}

.contects{
    width: 100%;
    height: 40vh;
    display: flex;
    /* margin: auto; */
    padding-top: 5vw;
    /* margin-top: 4vw; */
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f172a;
}    

.logo-info{
    width: 20%;
    height: 100%;
    color: #ffffff;
    border-radius: 2px solid rgb(255, 255, 255);
}

.boxi-image h1{
    font-size: 4vw;
    color: #ffffff;
    margin-top: 2vw;
}

.logo-info .cam-img h4{
    width: 80%;
    margin-top: 8vw;
    color: #ffffff;
    margin-top: .7vw;
    font-weight: 400;
    line-height: 4vh;
}

.logo-info .icons2{
    margin-top: 3vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    color: #E27614;
}

.last-links{
    margin-top: 1vh;
    padding: 1vh;
}

.last-links h4{
    /* position: relative; */
    font-weight: 400;
    margin-top: 3vh;
}

.last-links h6{
    width: 68%;
    height: 2px;
    background-color: #ffffff;
}

 .contect-info{
    width: 90%;
    padding-bottom: 1vh;
    margin-top: 4vh;
 }

 .contect-info h4{
    font-weight: 400;
    letter-spacing: .10vw;
 }

 .contect-info .icon-num{
    display: flex;
    gap: 1vw;
    width: 100%;
    margin-top: 2vh;
 }

 .contect-info .icon-num h3{
    font-weight: 400;
 
 }

 .contect-info .icon-num h4{
    font-weight: 400;
 }

 .contect-info .icon-num h3:hover{
    cursor: pointer;
    color: #E27614;
 }

 .contect-info  h4:hover{
color: #E27614;
cursor: pointer;

 }

 .contect-info .icon-num i{
    color: #E27614;
    font-size: 1.3vw;
 }

 .email-btn .btn{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    border-radius: .3vw ;
    border: 1px solid #b6cfd7;
 }

 .email-btn button{
    background-color: transparent;
    padding: 1vw 2vw;
    color: #ffffff;
    border: 1px solid transparent;
 }

 .email-btn .btn i{
    padding: 1vw;
    color: #ffffff;
    border-radius: .3vw;
    background-color: #E27614;
 }

 footer{
    width: 100%;
    margin: auto;
    height: 9vw;    
    color: #b7b3b3;
    font-weight: 700;
    background-color: #0f172a;
 }
 inner-footer{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 hr{
    width: 80%;
    margin: auto;
 }

 .mail:hover,.uper-right-nav:hover
,.img-card:hover,.lower-image:hover
,.lower-nav .logo-img:hover,.right-text button:hover
,.links .droupdown:hover,.menu-icon:hover,.uper-image:hover
,.right-images:hover,.round-images:hover,.moving-card button:hover
,.logo-x .inner-icon:hover,.inner-contect .mail .email:hover
,.gellery .uper-right-nav .social-media:hover,.inner-first:hover
,.inner-logo:hover,.leader-card button:hover,.card-img:hover
,.card-text .sentance:hover,.card-text .icon-tex .contect-icon h5:hover
,.get .phone:hover,.get .contectus button:hover
,.contects .logo-info .last-links:hover
,.contects .icons2:hover, .contect-info  h4:hover
,.email-btn .btn:hover,.email-btn .btn button:hover
,.contects .logo-info .cam-img img{
    cursor: pointer;
}
